@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar-hidden.grid-view {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.sidebar-hidden.list-view {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

@media screen and (max-width:1680px ) {
  .main-area .list-view {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .main-area .sidebar-hidden.grid-view {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .main-area .sidebar-hidden.list-view {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media screen and (max-width:1366px ) {
  .main-area .list-view,
  .main-area .grid-view {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .main-area .sidebar-hidden.list-view {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media screen and (max-width:1280px ) {
  .main-area .sidebar-hidden.grid-view,
  .main-area .sidebar-hidden.list-view {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width:1023px ) {
  .main-area .list-view {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .side-bar.show-mobile-filter {
    transform: translateX(0px);
  }
}
@media screen and (max-width:767px ) {
  .main-area .grid-view,
  .main-area .sidebar-hidden.grid-view {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-area .list-view,
  .main-area .sidebar-hidden.list-view {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width:640px ) {
  .main-area .grid-view,
  .main-area .sidebar-hidden.grid-view {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-area .list-view,
  .main-area .sidebar-hidden.list-view {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}